/* Shared css */

*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    max-width: 80vw;
    margin: 0 auto;
}

.text-description{
    color: #727272;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2rem;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 15px 25px;
    color: #fff;
    font-weight: 500;
}

/* header css */

#header{
    background: rgba(255, 144, 14, 0.10);
    padding-bottom: 30px;
}


.logo h1{
    font-size: 32px;
}

#nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav ul{
    display: flex;
    gap: 50px;
}

#nav ul li{
    list-style: none;
}

#nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

.banner-title{
    max-width: 55%;
    margin: 0 auto;
    text-align: center;
}

.banner-title h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-banner{
    margin: 20px;
}

#banner > img{
    width: 100%;
}

/* team */

#team{
    margin-top: 50px;
}

.team-wrapper{
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: center;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}

.team-img img{
    max-width: 250px;
}

.team-content h2{
    color: #727272;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}

.of-our-title{
    color: #131313;
    font-weight: 600;
}

.feature-title-text{
    color:#FF900E;
    font-weight: 600;
}

.team-para{
    margin-bottom: 10px;
}